@import "normalize";

::selection {
  background: #ddd; /* Safari */
}
::-moz-selection {
  background: #ddd; /* Firefox */
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cf:before, .cf:after {
  display: table;
  content: '';
}
.cf:after {
  clear: both;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  @media (max-width: 1170px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 768px;
  }
}
/*HEADER*/

.main-header {
  background: url(../img/header-bg.jpg) center no-repeat;
  background-size:cover;
  min-height: 710px;
  text-align: center;
  .main-nav {
    display: flex;
    justify-content:space-between;
    padding-top: 20px;
  }
  .logo {
  }
  .nav-list {
    display: flex;
    justify-content: space-around;
    a {
      display: flex;
      line-height: 42px;
      padding: 0 10px;

      &:hover {
        color: #fff;
      }
    }
  }
}
.s-services {
  .icon {
    background-image: url(../img/icons-sprite.png);
    background-repeat:no-repeat;
    display: inline-block;
  }
  .icon-pen {
    width: 35px;
    height: 35px;
    background-position: 0 0;
  }
  .icon-tree {
    width: 43px;
    height: 35px;
    background-position: -35px 0;
  }
  .icon-bulb {
    width: 23px;
    height: 36px;
    background-position: -78px 0;
  }
  .icon-graph {
    width: 42px;
    height: 49px;
    background-position: -101px 0;
  }
}