/*Clearfix by Nicolas Gallagher*/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/*Common*/

* {
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
ul {
    padding: 0;
}
figure {
    margin: 0;
}
textarea {
    resize: none;
}

.s-title {
    font-size: 40px;
    font-weight: 600;
    font-family: 'StMarie-Thin', "Courier New", Courier, monospace;
    color: #ff9c00;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.s-title:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 15px;
    background-color: rgb(255,156,0);
    box-shadow: 0 -1px 0 0 rgb(255,209,163);
    box-shadow: 0 1px 0 0 rgb(255,184,103);
}


/*fonts*/

@font-face{ 
    font-family: 'Calibri';
    src: url('../fonts/Calibri.ttf') format('truetype');
    
}
@font-face{ 
    font-family: 'CalibriL';
    src: url('../fonts/calibril.ttf') format('truetype');
    
}
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BEBAS.woff') format('woff'),
         url('../fonts/BEBAS.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'StMarie-Thin';
    src: url('../fonts/StMarie-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/***********HEADER************/

.page-heading {
    height: 128px;
    position: fixed;
    top:0;
    width: 100%;
    background-color: #fff;
}
.logo {
    width: 88px;
    height: 106px;
    display: block;
    float: left;
    cursor: pointer;
    margin: 5px 10px auto 18px;
}
.page-title {
    float: left;
    font-weight: normal;
    font-size: 37px;
    margin: 14px auto 5px 44px;
    letter-spacing: 1.25px;
}
.page-title .page-title-first {
    font-family: 'Calibri', Arial, sans-serif;
    display: block;
    color: #fb9c06;
}
.page-title .page-title-second {
    font-family: 'Bebas', Impact, sans-serif;
    display: block;
    color: #6e6d6b;
    margin-top: 5px;
    margin-left: -4px;
}
.page-nav {
    height: 128px;
    float: right;
}
.nav-link {
    font-family: 'Calibri', Arial, sans-serif;
    font-weight: 600; /*mimics Faux-Bold in .PSD*/
    font-size: 22px;
    line-height: 26px;
    letter-spacing: .8px;
    text-decoration: none;
    color: #9e9b9b;
    float: left;
    position: relative;
    margin-top: 27px;
    margin-left: 17px;
    padding: 50px 3px 10px 3px;
    transition: .4s; 
}
.nav-link:hover {
    color: #fb9c06;
}
.nav-link:nth-child(1) {margin-right: 45px;}
.nav-link:nth-child(2) {margin-right: 44px;}
.nav-link:nth-child(3) {margin-right: 54px;}
.nav-link:nth-child(4) {margin-right: 59px;}
.nav-link:nth-child(5) {margin-right: 0px;}

.nav-link:before, .nav-link:after {
    content: '';
    position: absolute;
    bottom: 47px;
    background-image: url(../img/icons-sprite-new.png);
    background-repeat: no-repeat;
    opacity: 1;
    padding: 0 5px;
    transition: .4s;
}
.nav-link:nth-child(1):before, .nav-link:nth-child(1):after {
    width: 55px;
    height: 47px;
    left: 3px;
    background-position: -140px -11px;
}
.nav-link:nth-child(2):before, .nav-link:nth-child(2):after {
    width: 23px;
    height: 44px;
    left: 23px;
    background-position: -215px -13px; 
}
.nav-link:nth-child(3):before, .nav-link:nth-child(3):after {
    width: 43px;
    height: 43px;
    left: -1px;
    background-position: -258px -14px; 
}
.nav-link:nth-child(4):before, .nav-link:nth-child(4):after {
    width: 40px;
    height: 40px;
    left: 4px;
    background-position: -80px -17px;
}
.nav-link:nth-child(5):before, .nav-link:nth-child(5):after {
    width: 50px;
    height: 34px;
    left: 16px;
    background-position: -10px -23px;
}
.nav-link:after {opacity: 0;}
.nav-link:hover:before {opacity: 0;}
.nav-link:hover:after {opacity: 1;}
.nav-link:nth-child(1):after {background-position: -140px -71px;}
.nav-link:nth-child(2):after {background-position: -215px -73px;}
.nav-link:nth-child(3):after {background-position: -258px -74px;}
.nav-link:nth-child(4):after {background-position: -80px -77px;}
.nav-link:nth-child(5):after {background-position: -10px -83px;}


/***********SLIDER************/


.s-slider {
    margin-top: 128px;
    background: url(../img/slider.jpg) center no-repeat;
    background-size: cover;
    height: 408px;
    border-top: 4px solid orange;
    border-bottom: 4px solid orange;
    box-shadow: 0 -1px 0 0 #fff6e8;
    box-shadow: 0 1px 0 0 #fdd79b;
}
.slider-controls {
    padding-left: 10px;
    max-width: 500px;
}

.slider-ctrl {
    font-family: 'Bebas', Impact, sans-serif;
    font-size: 37px;
    font-weight: 400;
    letter-spacing: .55px;
    text-decoration: none;
    display: block;
    float: left;
    transition: background-color .2s;
}

.ctrl-top {
    color: #fb9c06;
    background-color: rgba(0,0,0,.69);
    padding: 12px 14px 13px 30px;
    margin-top: 129px;
    margin-left: 10px;
}
.ctrl-top:hover {
    background-color: rgba(0,0,0,1);
}
.ctrl-bottom {
    color: #6e6d6b;
    background-color: rgba(255,175,18,.7);
    margin-top: 27px;
    padding: 14px 18px 20px 32px;

}
.ctrl-bottom:hover {
    background-color: rgba(255,175,18,1);
}
/***********SECTION INFO************/



.s-info {
    padding-bottom: 12px;
    box-shadow: 0 0 5px 0 rgba(211,210,210,.75);
    margin-top: 1px;
}

.news-list {
    list-style: none;
    margin: 3px 0 0;
}
.news-list-item {
    width: 25%;
    float: left;
    height: 200px;
    overflow: hidden;
    padding: 10px 14px 10px 21px;
    
}
.news-list-item p {
    font-family: 'Calibri', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: .35px;
    font-weight: 600;
    line-height: 23.16px;
    margin-bottom: 3px;
}
.news-list-item a {
    font-family: 'CalibriL', Arial, sans-serif;
    font-style: italic;
    letter-spacing: 1.1px;
    font-weight: 600; /*mimics Faux-Bold in .PSD*/
    color: #ffac00;
    text-decoration: none;
    float: right;
    
}
.news-list-item a:hover {
    text-decoration: underline;
}


/***********SECTION TEAM************/



.s-team {
    text-align: center;
}

.team-title {
    margin-top: 19px;
    margin-bottom: 0;
    padding: 0 2px 15px 22px;
}

.team-list {
    margin: 0;
    list-style: none;
    overflow: hidden;
}
.team-list-item {
    float: left;
    width: 25%;
    height: 515px;
    overflow: hidden;
    overflow-y: auto;
}
.team-list-item:nth-child(2) {
    margin-left:14%;
    margin-right: 11%;
}
.member-title {
    color: #6e6d6b;
    font-family: 'CalibriL', Arial, sans-serif;
    font-size: 22px;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-top: 22px;
    margin-bottom: 35px;
    padding-left: 4px;
}
.member-position {
    color:#fb9c06;
}

.member-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #ffb540;
}

.member-info {
    color: #333;
    font-family: 'CalibriL', Arial, sans-serif;
    font-size: 15px;
    line-height: 23.16px;
    font-weight: bold;
    letter-spacing: .4px;
    padding-left: 32px;
    margin-top: 22px;
    text-align: left;
}
/*bad styles to mimic .PSD */
.team-list-item:nth-child(2) .member-title {
    margin-left: -26px;
}
.team-list-item:nth-child(3) .member-title {
    margin-top: 20px;
    padding-left: 20px;
}
 

/***********SECTION FEEDBACK************/

.s-feedback {
    text-align: center;
    margin-bottom: 53px;
}
.feedback-title {
    margin-top: 23px;
    margin-bottom: 10px;
    padding: 0 2px 15px 35px;
}
.feedback-form {
    text-align: left;
}
.feedback-input-wrap {
    margin-top: 35px;
}
.feedback-input-wrap:first-child {
    margin-top: 40px;
}
.feedback-input-wrap input, .feedback-input-wrap textarea{
    width: 1070px;
    padding: 7px;
    float: left;
    border: 0;
    border-left: 6px solid #d2d0cf;
    border-top: 3px solid #d2d0cf;
    background-color: #f8f7f6;
    outline: none;
}

.feedback-input-wrap input:active,
.feedback-input-wrap textarea:active,
.feedback-input-wrap input:focus,
.feedback-input-wrap textarea:focus{
    border-color: #ffb540;
}

.feedback-input-wrap label {
    font-family: 'StMarie-Thin', "Courier New", Courier, monospace;
    color: #ff9c06;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .3px;
    width: 130px;
    float: left;
}

.feedback-input-wrap textarea{
    min-height: 91px;
 }
.feedback-btn-wrap .btn {
    outline: none;
    background-color: #fb9c06;
    font-size: 30px;
    font-family: 'StMarie-Thin', "Courier New", Courier, monospace;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    float: right;
    padding: 2px 33px 6px 34px;
    margin: 24px 32px 0 0;
    border: 1px solid #f6bb5c;
    box-shadow: 0 3px 0 0 #cc830f;
}
.feedback-btn-wrap .btn:active {
    transform: translateY(3px);
    box-shadow: 0 3px 0 0 transparent;
}

/*bad styles to mimic .PSD */

.feedback-input-wrap:nth-child(2) label, .feedback-input-wrap:nth-child(3) label {
    margin-top: 6px;
}
.feedback-input-wrap:nth-child(1) label, .feedback-input-wrap:nth-child(3) label {
    transform: translateX(-2px);
}



/***********FOOTER************/


.page-wrapper {
    min-height: calc(100vh - 83px); 
}

.page-footer {
    background-color: #fb9c06;
    text-align: center;
    height: 73px;
    padding-top: 14px;
    margin-bottom: 10px;
    border-bottom:  3px solid #cc830f;
    box-shadow: 0 10px 0 0 #fff;
    box-shadow: 0 1px 0 0 #f8eedf;

}
.page-footer .copyright {
    font-family: 'StMarie-Thin', "Courier New", Courier, monospace;
    text-transform: uppercase;
    color: #fff;
    font-size: 33px;
    letter-spacing: 0.9px;
    margin-left: 14px; 
}